asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2024.12.14
cfscrape==2.1.1
charset-normalizer==3.4.0
cloudscraper==1.2.71
Django==5.1.4
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
fake-useragent==2.0.3
idna==3.10
inflection==0.5.1
packaging==24.2
pillow==11.1.0
proxy-information==0.2
PyJWT==2.10.1
pyparsing==3.2.1
PySocks==1.7.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
