<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socks Checker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checker/styles.css' %}"></head>
<body>
    <header>
        <h1>Описание</h1>
    </header>

    <nav>
        <a href="#proxy_list">Старт</a>
        <a href="#about">Описание</a>
        <a href="#faq">FAQ</a>
    </nav>

    <div class="container">
        <p>Программа Socks Checker предназначена для загрузки списков бесплатных сокс-прокси из открытых источников в сети Интернет и их проверки на работоспособность с локального комьютера</p>
    </div>

    <footer>
        <p>&copy; 2025 Socks Checker. Mashn_hu58. ITstep.by.</p>
    </footer>
</body>
</html>
