<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>FjordProxy</title>

    <link rel="stylesheet" href="{% static 'checker/styles.css' %}">
</head>
<body>

    <header>
        <h1>FjordProxy</h1>
    </header>

    <nav>
        <a href="{% url 'home' %}">Проверка</a>
        <a href="{% url 'about' %}">Описание</a>
        <a href="{% url 'faq' %}">FAQ</a>


    </nav>

    <!-- Сюда будет блок с контентом -->
    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2025 FjordProxy. Ruslan M. PH1824.</p>
    </footer>

    <!-- Сюда будет блок со скриптами -->
    {% block scripts %}
    {% endblock %}

</body>
</html>
