{% extends 'checker/base.html' %}

{% block content %}
{% load static %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const spoilers = document.querySelectorAll('.spoiler');
            spoilers.forEach(spoiler => {
                spoiler.addEventListener('click', function() {
                    this.classList.toggle('active');
                    const content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            });
        });
    </script>

    <div class="faq-page">
            <h2>Часто задаваемые вопросы</h2>

        <div class="faq-container">
            <div class="container">
                <div>
                    <h3 class="spoiler">Что такое прокси?</h3>
                    <div class="spoiler-content">
                        <p><strong>Прокси (proxy), или прокси-сервер </strong>— это сервер-посредник между пользователем и интернет-ресурсом. Человек подключается не напрямую к серверу нужного сайта, а к прокси-серверу — и уже он передает данные на сайт и отправляет обратно в браузер пользователя. Анонимность достигается путем подмены «родного» IP-адреса.</p>
                        <img src="{% static 'checker/images/what_is_a_proxy.png' %}" alt="Пример работы прокси-сервера" class="centered-img">
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Зачем нужны прокси?</h3>
                    <div class="spoiler-content">
                        <p>Прокси используются для анонимного доступа к интернету, парсинга, обхода ограничения доступа к определенным ресурсам.</p>
                        <img src="{% static 'checker/images/bypass.png' %}" alt="Пример обхода блокировки" class="centered-img">
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Откуда берутся бесплатные прокси?</h3>
                    <div class="spoiler-content">
                        <ul>
                            <li>Провайдеры предоставляют своим клиентам возможность использования бесплатных прокси-серверов.</li>
                            <li>Роль прокси при подключении к интернету могут играть зараженные вирусом устройства.</li>
                            <li>Существуют сервисы, раздающие публичные прокси в рекламных целях.</li>
                            <li>Платные прокси имеют тестовый период с временным свободным доступом.</li>
                            <li>Ошибки системных администраторов (не установлен новый пароль или нет ограничения доступа к корпоративному серверу).</li>
                        </ul>
                    </div>
                </div>
                <h3 class="spoiler">Источники прокси, использованные в данной программе.</h3>
                <div class="spoiler-content">
                    <ul>
                        <li><a href="https://geonode.com/free-proxy-list" target="_blank">geonode.com</a></li>
                        <li><a href="https://sockslist.us" target="_blank">sockslist.us</a></li>
                        <li><a href="https://spys.one/ru/" target="_blank">spys.one</a></li>
                        <li><a href="https://www.proxy-list.download/SOCKS5" target="_blank">www.proxy-list.download</a></li>
                        <li><a href="https://openproxylist.com/proxy/" target="_blank">openproxylist.com</a></li>
                        <li><a href="https://advanced.name/freeproxy?type=socks5" target="_blank">advanced.name</a></li>
                        <li><a href="https://proxyfreeonly.com/free-proxy-list?protocols=socks5&speed=all" target="_blank">proxyfreeonly.com</a></li>
                        <li><a href="https://github.com/proxifly/free-proxy-list" target="_blank">Proxifly's Free Proxy List</a></li>
                        <li><a href="https://github.com/TheSpeedX/PROXY-List" target="_blank">TheSpeedX/PROXY-List</a></li>
                        <li><a href="https://github.com/r00tee/Proxy-List" target="_blank">r00tee/Proxy-List</a></li>
                        <li><a href="https://github.com/officialputuid/KangProxy" target="_blank">officialputuid/KangProxy</a></li>
                        <li><a href="https://github.com/yemixzy/proxy-list" target="_blank">yemixzy/proxy-list</a></li>
                        <li><a href="https://github.com/hookzof/socks5_list" target="_blank">hookzof/socks5_list</a></li>
                        <li><a href="https://github.com/sunny9577/proxy-scraper" target="_blank">sunny9577/proxy-scraper</a></li>
                        <li><a href="https://github.com/vakhov/fresh-proxy-list" target="_blank">vakhov/fresh-proxy-list</a></li>
                        <li><a href="https://github.com/fyvri/fresh-proxy-list" target="_blank">fyvri/fresh-proxy-list</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="spoiler">Зачем использовать эту программу, если можно воспользоваться списками из Интернета?</h3>
                    <div class="spoiler-content">
                        <p>Данная программа проверяет <strong>работоспособность </strong>множества бесплатных SOCKS-прокси из открытых источников в сети Интернет <strong>именно с данного локального </strong> компьютера. В сети действительно множество сайтов со списками бесплатных прокси, однако большинство из будут устаревшими и нерабочими.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Достоинства бесплатных прокси:</h3>
                    <div class="spoiler-content">
                        <ul>
                            <li>Отсутствие оплаты.</li>
                            <li>Легко заменить на другие. Чем больше список бесплатных прокси, тем легче перебирать доступные варианты. Менять прокси можно хоть под каждый запрос.</li>
                            <li>Как и в случае платными прокси, можно найти варианты адресов из нужных локаций.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Недостатки бесплатных прокси:</h3>
                    <div class="spoiler-content">
                        <ul>
                            <li>Проблематично найти действительно работающие прокси.</li>
                            <li>Нестабильная работа (со временем они прекращают действовать или становятся платными).</li>
                            <li>Медленная скорость загрузки данных.</li>
                            <li>Частые сбои из-за перегрузок.</li>
                            <li>Низкая вероятность сохранить конфиденциальность.</li>
                            <li>Высокий риск блокировки IP.</li>
                            <li>Большинство бесплатных прокси небезопасны для вашего устройства.</li>
                            <li>Отсутствует возможность гибкой настройки под определенную задачу.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Зачем используются бесплатные прокси?</h3>
                    <div class="spoiler-content">
                        <p>Бесплатные прокси могут подойти только для определённого круга задач (например тестирование или кратковременное использование), когда через них не передаётся какая-либо важная (конфиденциальная) информация, и когда у вам необходим доступ к достаточному количеству бесплатных IP.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Что такое SOCKS прокси?</h3>
                    <div class="spoiler-content">
                        <p>SOCKS‑прокси универсален. Главная особенность <strong>SOCKS</strong>— это использование протокола TCP (Transmission Control Protocol) для подключения к серверу назначения. После установления соединения SOCKS помогает отправлять и получать данные между вами и сервером. Одним из ключевых преимуществ этого протокола является его гибкость: он может работать с различными типами интернет-трафика, созданными разными программами и протоколами. Это делает SOCKS отличным выбором для задач с высокой нагрузкой, таких как потоковая передача видео или обмен файлами через peer-to-peer сети.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">SOCKS4 или SOCKS5?</h3>
                    <div class="spoiler-content">
                        <p><strong>SOCKS4</strong> — это более старая версия протокола SOCKS, которая в основном поддерживает TCP-соединения, используемые для надежной передачи данных через интернет. Основная задача SOCKS4-прокси — перенаправлять ваш интернет-трафик через прокси-сервер, скрывая ваш реальный IP-адрес.</p>
                        <p>Однако у SOCKS4 есть некоторые ограничения. Он не поддерживает UDP-прокси, которые необходимы для таких действий, как потоковое видео и онлайн-игры. Кроме того, SOCKS4 не предоставляет возможности проверки личности через имя пользователя и пароль.</p>
                        <p><strong>SOCKS5</strong> — это новая версия протокола SOCKS с более широкими возможностями по сравнению с SOCKS4. Он поддерживает как TCP, так и UDP-соединения, что делает его более универсальным для различных интернет-активностей.</p>
                        <p>Кроме того, SOCKS5 позволяет использовать имя пользователя и пароль для проверки личности, что делает его более безопасным. Также SOCKS5 может работать как с IPv4, так и с IPv6-адресами, что делает его более гибким и приспособленным к новым интернет-технологиям.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Степени анонимности прокси.</h3>
                    <div class="spoiler-content">
                        <p><strong>Прозрачный прокси</strong>. Они заявляют о том, что используется прокси и передают реальный IP адрес пользователя в HTTP заголовках. Т.е. они передают ваши данные в «первозданном» виде. Прозрачные прокси использовать опасно, так как они не обеспечивают анонимности.</p>
                        <p><strong>Анонимные прокси </strong> уведомляют, что используется прокси, но при этом не передают реальный IP адрес пользователя. Не могут гарантировать настоящей анонимности, так как заявляют, что прокси используется.</p>
                        <p><strong>Приватные (элитные) прокси </strong> - не уведомляют, что используется прокси и не передают реальный IP адрес пользователя. Только элитный прокси-сервер можно использовать для полной анонимности.</p>
                        <img src="{% static 'checker/images/ip.png' %}" alt="Пример подмены IP" class="centered-img">
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Что такое время ответа сервера?</h3>
                    <div class="spoiler-content">
                        <p>Время ответа - это временной промежуток, за который клиент получает ответ на свой первоначальный запрос к серверу. Чем меньше время отклика прокси, тем лучше.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Что такое уровень риска и оценка мошенничества для IP адреса?</h3>
                    <div class="spoiler-content">
                        <p>Поскольку бесплатные прокси имеют присущие им недостатки, в программу добавлена проверка репутации и оценка мошенничества IP адреса по данным сайта <a href="https://scamalytics.com/" target="_blank">Scamalytics.com</a>. Это специализированная платформа для предотвращения мошенничества в интернете, которая помогает бизнесу и частным пользователям выявлять и блокировать подозрительные активности. Основная цель Scamalytics — защита от онлайн-мошенничества, включая фишинг, фальшивые профили, мошеннические транзакции и другие виды киберугроз.</p>
                        <p>Уровни риска на Scamalytics:</p>
                        <ul>
                            <li>High Risk (высокий риск) – IP, скорее всего, используется для мошенничества, ботов, атак.</li>
                            <li>Medium Risk (средний риск) – IP может принадлежать VPN, дата-центру или быть частью сервых зон.</li>
                            <li>Low Risk (низкий риск) – Обычный пользовательский IP без подозрительной активности.</li>
                        </ul>
                        <p>Оценка мошенничества на Scamalytics:</p>
                        <ul>
                            <li>0-20 — безопасный IP, используется реальными пользователями.</li>
                            <li>21-50 — подозрительный IP, возможно, использовался через VPN, прокси или TOR.</li>
                            <li>51-100 — высокий риск, IP-адрес часто используется ботами, мошенниками или анонимизирующими сервисами.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Шифрует ли прокси-сервер трафик?</h3>
                    <div class="spoiler-content">
                        <p>SOCKS4/5 (также как и http-proxy) <strong>не шифруют трафик</strong>, они его передают «как есть». Шифрование — это не задача прокси-сервера. Используйте шифрованный VPN-туннель или позаботьтесь о том, чтобы приложения сами шифровали свои данные.</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">В чем разница между прокси-сервером и VPN?</h3>
                    <div class="spoiler-content">
                        <p>Сервисы отличаются друг от друга по нескольким параметрам:</p>
                        <ul>
                            <li>Шифрование. VPN шифруют весь интернет-трафик, защищая его от возможного подслушивания. В прокси не предусмотрено шифрование по умолчанию.</li>
                            <li>Контроль трафика. Прокси позволяют выборочно контролировать доступ в интернет, фильтруя или блокируя определенные веб-сайты или контент. VPN-сервисы не предполагают такого уровня контроля и дают безопасный (помним про риски бесплатности) доступ ко всему интернету.</li>
                            <li>Защита устройства. VPN гарантируют безопасность и конфиденциальность всех приложений и служб на устройстве. Прокси влияют только на приложения, настроенные на их использование.</li>
                            <li>VPN можно заблокировать по IP-адресу и по протоколу. Каждый VPN протокол по-своему уникален и документирован и имеет оригинальный «отпечаток», с помощью которого можно узнать, что собой представляет этот протокол. Также, благодаря этому, использование VPN прекрасно видно.</li>
                            <li>Прокси можно заблокировать по IP-адресу. Также, поскольку содержимое трафика самим прокси не шифруется (это должно делать само приложение, которое используется) возможна блокировка по передаваемому содержимому при помощи анализа трафика.</li>
                        </ul>
                        <img src="{% static 'checker/images/vpnvsproxy.png' %}" alt="Отличия прокси и впн" class="centered-img">
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Существуют ли прокси, которые шифруют трафик?</h3>
                    <div class="spoiler-content">
                        <p>Да, <a href="https://habr.com/ru/articles/799751/" target="_blank">существуют</a>. Защищённые прокси — практичная альтернатива VPN. Есть протоколы прокси, которые могут как шифровать трафик (Shadowsocks, Shadowsocks-2022, VMess, etc), так и маскировать его для постороннего наблюдателя под другой (VLESS, Trojan, Cloak, etc).</p>
                    </div>
                </div>
                <div>
                    <h3 class="spoiler">Что вообще можно сделать с этими отфильтрованными списками?</h3>
                    <div class="spoiler-content">
                        <p>Вот некоторые варианты использования:</p>
                        <ul>
                            <li>При парсинге (автоматический процесс сбора и систематизации данных в интернете) использование данного списка позволит обойти бан по IP.</li>
                            <li>При скачивании файла из торрент сети при помощи клиента (например qBittorrent) можно скрыть свой IP.</li>
                            <li>При использовании браузера можно посещать страницы без ограничений, не раскрывая свой IP владельцу сайта...</li>
                            <li>Некоторые другие программы, в том числе мессенджеры Telegram и Viber, также позволяют настроить их работу через прокси.</li>
                        </ul>
                        <p style="color: red; font-weight: bold;">ВНИМАНИЕ! При использовании бесплатных прокси (и вообще прокси) всегда учитывайте риски безопасности. Обязательно ознакомьтесь с разделами о недостатках и шифровании трафика.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
