<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checker/styles.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const spoilers = document.querySelectorAll('.spoiler');
            spoilers.forEach(spoiler => {
                spoiler.addEventListener('click', function() {
                    this.classList.toggle('active');
                    const content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>FAQ</h1>
    </header>

    <nav>
        <a href="proxy_list.html">Старт</a>
        <a href="about.html">Описание</a>
        <a href="faq.html">FAQ</a>
    </nav>

    <div class="container">
        <div>
            <h3 class="spoiler">Что такое прокси.</h3>
            <div class="spoiler-content">
                <p><strong>Прокси (proxy), или прокси-сервер </strong>— это сервер-посредник между пользователем и интернет-ресурсом. Человек подключается не напрямую к серверу нужного сайта, а к прокси-серверу — и уже он передает данные на сайт и отправляет обратно в браузер пользователя.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Зачем нужны прокси.</h3>
            <div class="spoiler-content">
                <p>Прокси используются для анонимного доступа к интернету, парсинга, обхода блокировок и ограничения доступа к определенным ресурсам.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Откуда берутся бесплатные прокси.</h3>
            <div class="spoiler-content">
                <p><strong>Бесплатные прокси-серверы </strong>– это чаще всего публичные прокси или ошибки сисадминов, которые не установили пароль или не изменили стандартные настройки.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">В чем минусы бесплатных прокси.</h3>
            <div class="spoiler-content">
                <p>Проблематично найти действительно работающие прокси.</p>
                <p>Нестабильная работа (со временем они прекращают действовать или становятся платными).</p>
                <p>Медленная скорость загрузки данных.</p>
                <p>Частые сбои из-за перегрузок.</p>
                <p>Низкая вероятность сохранить конфиденциальность.</p>
                <p>Высокий риск блокировки IP.</p>
                <p>Большинство бесплатных прокси небезопасны для вашего устройства.</p>
                <p>Отсутствует возможность гибкой настройки под определенную задачу.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Зачем тогда использовать бесплатные прокси.</h3>
            <div class="spoiler-content">
                <p>Бесплатные прокси подходят исключительно для тестирования и кратковременного использования.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Что такое SOCKS прокси.</h3>
            <div class="spoiler-content">
                <p>Главная особенность <srong>SOCKS</strong>— это использование протокола TCP (Transmission Control Protocol) для подключения к серверу назначения. После установления соединения SOCKS помогает отправлять и получать данные между вами и сервером. Одним из ключевых преимуществ этого протокола является его гибкость: он может работать с различными типами интернет-трафика, созданными разными программами и протоколами. Это делает SOCKS отличным выбором для задач с высокой нагрузкой, таких как потоковая передача видео или обмен файлами через peer-to-peer сети.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">SOCKS4 или SOCKS5</h3>
            <div class="spoiler-content">
                <p><strong>SOCKS4</strong> — это более старая версия протокола SOCKS, которая в основном поддерживает TCP-соединения, используемые для надежной передачи данных через интернет. Основная задача SOCKS4-прокси — перенаправлять ваш интернет-трафик через прокси-сервер, скрывая ваш реальный IP-адрес.</p>
                <p>Однако у SOCKS4 есть некоторые ограничения. Он не поддерживает UDP-прокси, которые необходимы для таких действий, как потоковое видео и онлайн-игры. Кроме того, SOCKS4 не предоставляет возможности проверки личности через имя пользователя и пароль.</p>
                <p></p>
                <p><strong>SOCKS5</strong> — это новая версия протокола SOCKS с более широкими возможностями по сравнению с SOCKS4. Он поддерживает как TCP, так и UDP-соединения, что делает его более универсальным для различных интернет-активностей.</p>
                <p>Кроме того, SOCKS5 позволяет использовать имя пользователя и пароль для проверки личности, что делает его более безопасным. Также SOCKS5 может работать как с IPv4, так и с IPv6-адресами, что делает его более гибким и приспособленным к новым интернет-технологиям.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Степени анонимности прокси</h3>
            <div class="spoiler-content">
                <p><strong>Прозрачный прокси</strong>. Они заявляют о том, что используется прокси и передают реальный IP адрес пользователя в HTTP заголовках. Т.е. они передают ваши данные в «первозданном» виде. Прозрачные прокси использовать опасно, так как они не обеспечивают анонимности.</p>
                <p><strong>Анонимные прокси </strong> уведомляют, что используется прокси, но при этом не передают реальный IP адрес пользователя. Не могут гарантировать настоящей анонимности, так как заявляют, что прокси используется.</p>
                <p><strong>Приватные (элитные) прокси </strong> - не уведомляют, что используется прокси и не передают реальный IP адрес пользователя. Только элитный прокси-сервер  можно использовать для полной анонимности.</p>
            </div>
        </div>
        <div>
            <h3 class="spoiler">Шифрует ли прокси-сервер трафик.</h3>
            <div class="spoiler-content">
                <p>SOCKS4/5 (также как и http-proxy) <strong>не шифруют трафик</strong>, они его передают «как есть». Шифрование — это не задача прокси-сервера. Используйте шифрованный VPN-туннель или позаботьтесь о том, чтобы приложения сами шифровали свои данные.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Socks Checker. Mashn_hu58. ITstep.by.</p>
    </footer>
</body>
</html>
