<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socks Checker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checker/styles.css' %}">
    <script>
        let intervalId;

        function startProxyCheck() {
            fetch('/start/')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    updateTimer();
                    startStatusUpdates();
                });
        }

        function stopProxyCheck() {
            fetch('/stop/')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    clearInterval(intervalId);
                });
        }

        function fetchProxies() {
            fetch('/checked_proxies/')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('proxy-table-body');
                    tableBody.innerHTML = '';
                    data.forEach(proxy => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${proxy.ip}</td>
                            <td>${proxy.port}</td>
                            <td>${proxy.protocol}</td>
                            <td>${proxy.response_time}</td>
                            <td>${proxy.anonymity}</td>
                            <td>${proxy.country}</td>
                            <td>${proxy.country_code}</td>
                            <td>${proxy.date_checked}</td>
                            <td>${proxy.time_checked}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                });
        }

        function startStatusUpdates() {
            intervalId = setInterval(updateTimer, 10000);  // Обновляем таймер каждую секунду
        }

        function updateTimer() {
            fetch('/proxy_status/')
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'running') {
                        const elapsed = data.elapsed_time;
                        const remaining = data.remaining_time;
                        const checked = data.total_checked;

                        // Преобразуем время в часы, минуты, секунды
                        const hours = Math.floor(elapsed / 3600);
                        const minutes = Math.floor((elapsed % 3600) / 60);
                        const seconds = Math.floor(elapsed % 60);

                        const remainingHours = Math.floor(remaining / 3600);
                        const remainingMinutes = Math.floor((remaining % 3600) / 60);
                        const remainingSeconds = Math.floor(remaining % 60);

                        // Обновляем текст таймера
                        document.getElementById('timer').innerHTML = `
                            Всего проверено ${checked} прокси, прошло ${hours} часов ${minutes} минут ${seconds} секунд.
                            До окончания проверки осталось приблизительно ${remainingHours} часов ${remainingMinutes} минут ${remainingSeconds} секунд.
                        `;
                    }
                });
        }

        function downloadProxyList() {
            window.location.href = '/generate_proxy_list/';
        }

        setInterval(fetchProxies, 60000); // Обновляем таблицу каждый 1 минуту
    </script>
</head>
<body>
    <header>
        <h1>Socks Checker</h1>
    </header>

    <nav>
        <a href="#home">Проверка</a>
        <a href="#about">Описание</a>
        <a href="#faq">FAQ</a>
    </nav>

    <div class="container">
        <h2>Проверка Прокси</h2>
        <button onclick="startProxyCheck()">Проверка прокси</button>
        <button onclick="stopProxyCheck()">Остановить проверку</button>
        <button onclick="downloadProxyList()">Ссылка на список проверенных прокси</button>

        <h3>Проверенные Прокси</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Protocol</th>
                    <th>Response Time</th>
                    <th>Anonymity</th>
                    <th>Country</th>
                    <th>Country Code</th>
                    <th>Date Checked</th>
                    <th>Time Checked</th>
                </tr>
            </thead>
            <tbody id="proxy-table-body">
                {% for proxy in proxies %}
                    <tr>
                        <td>{{ proxy.ip }}</td>
                        <td>{{ proxy.port }}</td>
                        <td>{{ proxy.protocol }}</td>
                        <td>{{ proxy.response_time }}</td>
                        <td>{{ proxy.anonymity }}</td>
                        <td>{{ proxy.country }}</td>
                        <td>{{ proxy.country_code }}</td>
                        <td>{{ proxy.date_checked }}</td>
                        <td>{{ proxy.time_checked }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="timer" id="timer">
        <p>Всего проверено 0 из 0 прокси. Примерное время до окончания проверки: 0 часов 0 минут 0 секунд.</p>
    </div>

    <footer>
        <p>&copy; 2025 Socks Checker. Mashn_hu58. ITstep.by.</p>
    </footer>
</body>
</html>
